:host {
  .st-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;

    &__toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 36px;
      margin-right: 16px;
    }

    .angle-left,
    .angle-right {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 2px solid #aaaaaa;
      border-bottom: 0;
      border-left: 0;
      cursor: pointer;
    }
    .angle-left {
      transform: rotate(-135deg);
    }
    .angle-right {
      transform: rotate(45deg);
    }
  }
}
