<div class="st-container">

  <app-st-date-time-header [date]="selectedDate"
                           (next)="next()"
                           (prev)="prev()">
                           <!--*ngIf="viewType === VIEW_TYPE.DATE || viewType === VIEW_TYPE.ALL"-->
  </app-st-date-time-header>

  <div class="st-content">

    <st-content-date class="st-content__content"
                     *ngIf="viewType === VIEW_TYPE.DATE || viewType === VIEW_TYPE.ALL"
                     [baseDate]="baseDate.toDate()"
                     [selectedDate]="selectedDate"
                     (select)="onDateSelect($event)">
    </st-content-date>

    <st-content-time class="st-content__content"
                     *ngIf="viewType === VIEW_TYPE.TIME || viewType === VIEW_TYPE.ALL"
                     [date]="selectedDate"
                     (selectTime)="onTimeSelect($event)">
    </st-content-time>

  </div>

  <div class="st-content-toggle"
       (click)="toggleView()">
    <div class="st-content-time">
      <div class="st-content-time__time-icon" *ngIf="viewType === VIEW_TYPE.DATE"><span class="icon-clock"></span></div>
      <div class="st-content-time__time-stamp" *ngIf="viewType === VIEW_TYPE.DATE">{{ selectedDate.format('HH:mm')}}</div>
      <div class="st-content-time__time-icon" *ngIf="viewType === VIEW_TYPE.TIME"><span class="icon-calendar"></span></div>
      <div class="st-content-time__time-stamp" *ngIf="viewType === VIEW_TYPE.TIME">{{ selectedDate.format('ll') }}</div>
    </div>
  </div>

  <div class="st-footer">
    <button class="st-footer__action-button"
            (click)="onApply()">
      {{ btnText }}
    </button>
  </div>

</div>
