:host {
  font-family: Roboto;
  color: #555555;

  .st-container {
    width: 300px;
    padding: 12px;
    box-shadow: 0 0 6px 0 #aaaaaa;

    @media all and (min-width: 1024px){
      width: 600px;
    }
  }

  .st-content-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .st-content {
    margin-top: 24px;

    &__content {
      display: block;
      height: 290px;

      @media all and (min-width: 1024px){
        display: inline-block;
        width: 290px;
        vertical-align: top;
      }
    }
  }

  .st-content-toggle {
    justify-content: center;
    margin: 12px 0;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    cursor: pointer;

    .st-content-time {
      display: flex;
      align-items: center;
    }

    .st-content-time__time-icon {
      margin-right: 6px;
      font-size: 18px;
      font-weight: bold;
      color: turquoise;
    }
    .st-content-time__time-stamp {
      font-size: 16px;
      font-weight: normal;
      color: #555555;
    }
  }

  .st-footer {
    text-align: center;

    &__action-button {
      width: 100%;
      height: 45px;
      border-radius: 6px;
      background-color: turquoise;
      border: 0;
      box-shadow: 0 0 2px 0 #aaaaaa;
      font-size: 16px;
      color: white;
      font-weight: bold;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

}
