<div class="st-content-date">

  <div class="st-content-date__row week">
    <div class="st-content-date__cell"
         *ngFor="let day of weekDaysNames">
      <div class="cell-content">{{ day }}</div>
    </div>
  </div>

  <div class="st-content-date__row"
       *ngFor="let week of dateMatrix">

    <div class="st-content-date__cell hovered"
         *ngFor="let day of week"
         (click)="selectDate(day)"
         [ngClass]="{active: false}">
      <div class="cell-content">{{ day }}</div>
    </div>

  </div>

</div>
